html {
	background: url('../images/background2.jpg');
}

body {
	color: white;
	margin: 0;
}

body h1, #menu, #footer, #footer-blog, .main-content {
	text-align: center;
}

#menu ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-right: 20px;
}

.main-content {
	padding-top: 200px;
	min-height: 800px;
}

/*Homepage*/
table#statusBar,
table#webRing {
	border-spacing: 5px;
	width: 100%;
}

table#statusBar th,
table#webRing th {
	border-style: outset; 
	border-width: 2px; 
	border-color: grey; 
	position: relative;
	font-family: Verdana, Arial, Helvetica;
}

table#siteUpdates {
	width: 100%;
	border-spacing: 5px;
	margin-top: -5px;
}

table#statusBar tr,
table#siteUpdates tr,
table#webRing tr {
	margin-top: 5px;
	background-color: #d4d0dc; 
}

th {
	color: #000;
	font-style: italic;
	width: 210px;
}

table#siteUpdates td {
	color: black;
	padding: 5px;
	width: 210px;
	border-style: outset; 
	border-width: 2px; 
	border-color: grey; 
	vertical-align: top;
}

.main-content#welcomePage {
	padding-top: 50px;
}

.main-content #index {
	margin-right: 200px;
	text-align: left;
	margin-left: 200px;
	padding-top: 75px;
}

#latestUpdates {
	color: red; 
	padding-left: 5px;
}

.latest-updates-title {
	color: red;
	font-family: Verdana, Arial, Helvetica;
	font-style: italic;
}

#today, .right {
	position: absolute;
	right: 5px;
	top:0;
}

.left {
	position: absolute;
	left: 5px;
	top:0;
}

.center {
	text-align: center;
}

/*Footer*/
#footer, #footer-blog {
	position: relative;
    bottom: 0;
	width: 100%;
	padding-bottom: 10px;
}

#footer a, #footer-blog a {
    display: block;
    padding-bottom: 10px;
}

#footer a:hover, #footer-blog a:hover {
	cursor: default;
}

marquee {
    font-size: 20px;
    color: red;
    font-family: "Comic Sans MS";
}

#compatibility {
    position: absolute;
    right: 25px;
    bottom: 15px;
}

/*Blog Page*/
#blog ul li {
	list-style-type: circle;
	border-bottom: 3px groove;
	margin-right: 50px;
}

#blog ul li img,
#myoffice p img,
#aboutme img {
	width: 350px;
}

img#contact {
	width: 120px;
}

#aboutme p img {
	display: inline-block;
}

#blog ul li:last-child,
#blog #pager ul li {
	border-bottom: 0;
}

#blog ul li:nth-child(n+5) {
  /*display: none;*/
}

#blog #pager ul li,
#funny #pager ul li {
	list-style-type: none;
	display: inline-block !important;
	margin-right: 10px !important;
	cursor: pointer;
}

.main-content#blog {
	text-align: left;
	margin: 0 100px;
	padding-top: 50px;
}

#menu a:visited, #blog a:visited, #officecamlink, #funny a:visited, #siteUpdates a:visited, #webRing a:visited {
	color: blue;
}

/*Side Menu & iFrame*/
iframe {
	width: 100%;
	border-width: thick;
	border-style: groove;
}

iframe#menu {
	position: fixed;
	width: 125px;
	height: 100%;
	left: 0;
}

#side-menu ul li a:visited, #side-menu ul li a {
	color: white !important;
}

#side-menu ul li {
	margin-bottom: 5px;
}

.ps {
	text-align: right;
    margin-right: 35px;
}

#midiPlayer {
	display: none;
}

video {
	display: block;
    margin: 0 auto;
	border: 4px groove;
}

/*Haunted Stories Page*/
.story {
	display: none;
}

#menu.haunted a {
	color: green;
}

#side-menu.haunted ul li {
	margin-bottom: 10px;
}

#side-menu.haunted ul li a:hover,
#side-menu.haunted ul li a {
	text-decoration: underline;
	cursor: pointer;
}

#menu-image {
	position: absolute;
	top: 300px;
}

.story > p,
.story ul,
.story h4  {
	text-align: left;
}

.story h4 {
	text-decoration: underline;
}

.mobile {
	display: none;
 }
 
/*Enter Page*/
#enter h1 {
	font-family: Verdana, Arial, Helvetica;
	font-style: italic;
} 
 
#enter-page marquee {
 	color: purple;
}

 /*Cellular Compatibility*/
@media screen and (min-resolution: 192dpi) { 
  #footer {
	position: fixed !important;
  }

  #footer.faq, #footer.goodies, #footer.aboutme, #footer.home {
	position: relative !important;
	padding-top: 100px;
  }
  
  .main-content#links, .main-content#sitemap {
	margin-left: 50px !important;
	margin-right: 0 !important;
  }
  
  .ps {
	text-align: left !important;
  }
  
  .main-content, .main-content#links, .main-content#sitemap {
    padding-top: 100px !important;
  }

  .main-content#goodies, .main-content#gallery, .main-content#blog {
	padding-top: 50px !important;
  }
  
  .main-content#aboutme {
	margin: 0 25px !important;
	padding-top: 34px !important;;
  }

  .main-content#blog ul li img,
  .main-content#myoffice p img {
	/*width: 75% !important;*/
  }
  
  .main-content#guestbook {
    padding-top: 0 !important;
  }
  
  .main-content#blog,
  .main-content#faq, 
  .main-content#goodies,
  #index {
	margin: 0 10px !important;
	margin-bottom: 100px;
  }

  .main-content#faq {
	padding-top: 10px !important;
	margin: 0 10px !important;
  }

  .inner-content {
	padding-right: 35px;
  }
  
  #blog ul li {
	margin-right: 40px !important;
  }
  
  #footer-blog {
	padding-top: 100px !important;
  }
  
  .desktop {
	display: none;
  }
  
  .mobile {
	display: block;
  }
  
  iframe#header {
	width: 108%;
  }
  
  .mobile img {
	width: -webkit-fill-available;
  }

  .instr {
	padding-left: 0;
  }

  .main-content#funny img#quotePic {
	width: 75%;
  }
  
  .main-content#funny.archive img {
	width: 80%;
  }

  .officehistory {
	padding-left: 0px; 
	padding-right: 0px;
  }

  table#siteUpdates.mobile td {
		width: 100%;
  }  

@media (orientation: landscape) {
  #footer, #footer-blog {
	position: relative !important;
  }
}





